obj/
bin/
.vs/
*.user
*.suo
*.cache
*.sln.docstates
*.dll
*.exe
*.pdb
*.vscode/
*.vspscc
*.vssscc
.vsconfig
*.bak
*.log
*.cache
*.nupkg
*.paket.restore.log
*.opendb
*.coverage
*.runsettings
_ReSharper*/
[Rr]eSharper*/
*.DotSettings.user
.vscode/
[Dd]ebug/
[Rr]elease/
